body {
    cursor: default;
    background-color: lightblue;
    justify-content: center;
    display: flex;
}

canvas {
    margin-top: 5%;
    border: 10px solid lightcoral;
}

h1 {
    justify-content: center;
    display: flex;
    transform: scale(1.0);
}

h3 {
    justify-content: center;
    text-decoration: underline;
    display: none;
}