* {
    cursor: default;
}

:root {
    --color: white;
    --background-color: #202020;
    --canvas-border: #fbd291;
}

#container {
    display: grid;
    place-items: center;
}

#heading {
    font-size: 3.5rem;
}

#game-over {
    display: none;
}

body {
    color: var(--color);
    background-color: var(--background-color);
}

canvas {
    border: 0.5rem solid var(--canvas-border);
}